.receitas-master{
  display: flex;
  align-items: center;
  justify-content: center;
}

.receitas-nome{
  width: 100%;
  text-align: center;
  color: #f7d354;    
}

.receitas-containers{
  margin: 2rem;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  background-color: #222222;
  border-radius: 15px;
}

.receitas-containers h1 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.receitas-containers img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 7px;
}

.receitas-containers div {
  margin-bottom: 20px;
}

.receitas-containers h2,
.receitas-containers h3 {
  margin-bottom: 10px;
}